---
import { Image } from "astro:assets";
import { getEntryBySlug ,type CollectionEntry} from "astro:content";


type Props ={
    post: CollectionEntry<'posts'>;
};

const {post} = Astro.props;
---

<article class='bg-purple-500 flex flex-col p-4 items-center m-5 border border-purple-950 rounded-lg'>
<a href={`blog/${post.slug}`}>
<Image src={post.data.image} width={300} height={300/1.5} alt={post.data.title} format="webp" class="rounded-lg"/>
</a>
<a href={`blog/${post.slug}`}>
    <h2 class='text-2xl font-bold m-2'>{post.data.title}</h2>
</a>
<p class='mx-5 line-clamp-3'>
    {post.body}
</p>
</article>
